<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="de">
    <meta charset="UTF-8"/>
    <title>Bremersee PageBuilder Example</title>
    <script type="text/javascript" src="../static/jquery/jquery.min.js"
            th:src="@{/jquery/jquery.min.js}"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.js"
            th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css"
          href="../static/bootstrap/css/bootstrap.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="../static/bootstrap/css/bootstrap-theme.css"
          th:href="@{/bootstrap/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/app.css"
          th:href="@{/css/app.css}"/>
</head>
<body>
    <div class="container">
        <div class="page-header page-header-no-border">
            <h1>Bremersee PageBuilder Example</h1>
        </div>
        
        <div style="padding-bottom: 24px;">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="restful.html">Restful</a></li>
                <li role="presentation" class="active"><a href="ajax.html">Ajax</a></li>
            </ul>
        </div>
        
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#users-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="users-navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#"><img class="add-img" src="../static/img/add.gif" th:src="@{/img/add.gif}" alt=""/> Add a person</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li th:if="${pageControl.querySupported}">
                            <div class="navbar-form navbar-left">
                                <div class="form-group">
                                    <input id="query" type="text" name="_q" th:attr="name=${pageControl.queryParamName}" th:value="${pageControl.page.pageRequest.query}" class="form-control" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="navbar-form navbar-left">
                                <div class="form-group">
                                    <select id="sizeSelector" name="_max" th:attr="name=${pageControl.pageSizeParamName}" class="form-control" style="width:auto" onchange="">
                                        <option th:each="pageSizeOption : ${pageControl.pageSizeSelectorOptions}" 
                                                th:selected="${pageSizeOption.selected}"
                                                th:value="${pageSizeOption.value}"
                                                th:text="${pageSizeOption.displayedValue}">10</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="navbar-form navbar-left">
                                <a id="previous" href="#" 
                                   th:href="@{${pageControl.pagination.previousPageLink.url}}" 
                                   class="btn btn-default disabled" 
                                   th:class="${pageControl.pagination.previousPageLink.active}? 'btn btn-default' : 'btn btn-default disabled'"
                                   role="button">
                                    <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" aria-label="Previous Page"></span>
                                </a>
                                <div class="form-group">
                                    <select id="page" name="_p" th:attr="name=${pageControl.pageNumberParamName}" class="form-control" style="width:auto" onchange="">
                                        <option th:each="link : ${pageControl.pageRequestLinks}" 
                                                th:selected="${link.active}"
                                                th:value="${link.pageNumber}"
                                                th:text="${link.displayedPageNumber}">1</option>
                                    </select>
                                </div>
                                <a id="next" href="#" 
                                   th:href="@{${pageControl.pagination.nextPageLink.url}}" 
                                   class="btn btn-default disabled" 
                                   th:class="${pageControl.pagination.nextPageLink.active}? 'btn btn-default' : 'btn btn-default disabled'"
                                   role="button">
                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" aria-label="Next Page"></span>
                                </a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <span>#</span>
                        <span>
                            <a class="dropup" href="#">
                                <span class="caret"></span>
                            </a>
                            <a class="dropdown" href="#">
                                <span class="caret"></span>
                            </a>
                        </span>
                    </th>
                    <th>
                        <span>First Name</span>
                        <span>
                            <a class="dropup" href="#">
                                <span class="caret"></span>
                            </a>
                            <a class="dropdown" href="#">
                                <span class="caret"></span>
                            </a>
                        </span>
                    </th>
                    <th>
                        <span>Last Name</span>
                        <span>
                            <a class="dropup" href="#">
                                <span class="caret"></span>
                            </a>
                            <a class="dropdown" href="#">
                                <span class="caret"></span>
                            </a>
                        </span>
                    </th>
                    <th>
                        <span>Street</span>
                    </th>
                    <th>
                        <span>City</span>
                        <span>
                            <a class="dropup" href="#">
                                <span class="caret"></span>
                            </a>
                            <a class="dropdown" href="#">
                                <span class="caret"></span>
                            </a>
                        </span>
                    </th>
                    <th>
                        <span>Postal Code</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="entry : ${pageControl.page.entries}">
                    <td th:text="${entry.id}">1</td>
                    <td th:text="${entry.firstname}">Christian</td>
                    <td th:text="${entry.lastname}">Bremer</td>
                    <td th:text="${entry.address.street}">Some Street No. 27</td>
                    <td th:text="${entry.address.city}">Somewhere</td>
                    <td th:text="${entry.address.postalCode}">12345</td>
                </tr>
            </tbody>
        </table>
        
        <div style="text-align: center;">
            <nav style="display: inline-block;">
                <ul class="pagination">
                    <li th:class="${pageControl.pagination.firstPageLink.active} ? '' : 'disabled'">
                        <a href="#" aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:class="${pageControl.pagination.previousPageLink.active} ? '' : 'disabled'">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="link : ${pageControl.pagination.links}" th:class="${link.active} ? 'active' : ''">
                        <a href="#">1</a>
                    </li>
                    <li th:class="${pageControl.pagination.nextPageLink.active} ? '' : 'disabled'">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li th:class="${pageControl.pagination.lastPageLink.active} ? '' : 'disabled'">
                        <a href="#" aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
<script type="text/javascript">
//<![CDATA[
var isDevel = true;
$(document).ready(
    function() {
        if (!isDevel) {
            $.ajax("page-control.json", {
                dataType: "json",
                async: true,
                success: function (pageControl) {
                }
            });
            displayCurrentPosition();
        }
    }
);
//]]>
</script>
</body>
</html>